@font-face {
  font-family: "Aeonik";
  src: url("../assets/fonts/Aeonik.otf") format("opentype"),
    url("../assets/fonts/Aeonik.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
